# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
.checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
build
playground/data/LLaVA-Pretrain
playground/data/coco
playground/data/gqa
playground/data/ocr_vqa
playground/data/textvqa
playground/data/vg
playground/data/llava_v1_5_mix665k.json
playground/data/flickr30k-images
playground/data/Flickr30k_train.json
playground/data/coco_train.json
playground/data/refcoco3_train.json
*.pt
transformers
model_state_dict.bin
mmdetection
serve_images/*
checkpoints/tinyllava-v1.0-1.1b-rec